<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joss.voodootvdb" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginWebViewActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppTheme.OAuthLogin"
            />

        <activity android:name=".activities.MainActivity" android:label="@string/app_name" >
            <meta-data android:name="android.app.default_searchable"
                android:value=".activity.SearchActivity"/>
        </activity>

        <activity android:name=".activities.SearchActivity" android:label="@string/app_name" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".activity.SearchActivity"/>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".activities.PersonActivity" android:label="@string/app_name"/>
        <activity android:name=".activities.ShowActivity" android:label="@string/app_name" />
        <activity android:name=".activities.MovieActivity" android:label="@string/app_name" />
        <activity android:name=".activities.SeasonActivity" android:label="@string/app_name" />

        <service
            android:name=".api.ApiService"
            android:enabled="true" />

        <provider
            android:authorities=".VoodooProvider"
            android:name=".provider.VoodooProvider"
            android:exported="false" />

        <provider
            android:authorities="com.joss.voodootvdb.search.SuggestionProvider"
            android:name=".search.SuggestionProvider"
            android:exported="false" />

    </application>

</manifest>
